body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.corpo{
    text-align: center;
    margin: 20px;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}
h3{
    font-family: Arial;
}
p{
    font-family: Arial;
}
.label{
    height: 20px;
}
input{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
}
.titulot{
    color: lightblue;
    font-family: Arial;
    font-size: 70px;
}
.titulot1{
    color: lightblue;
    font-family: Arial;
    font-size: 42px;
}
.subtitulot{
    font-family: Arial;
    font-size: 35px;
}
.botao{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
    display: block;
    margin: 10px auto;
    transition: all ease-in-out 0.45s;
}
.botao:hover{
    background-color: darkblue;
}
.botao1{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
    transition: ease-in-out 0.45s;
}
.botao1:hover{
    background-color: darkblue;
}
.botao2{
    width: 250px;
    height: 141px;
    background-color: white;
    border-radius: 10px;
    font-family: Arial;
    margin: 10px auto;
    text-align: center;
    transition: all ease-in-out 0.45s;
}
.botao2:hover{
    background-color: blue;
}
label{
    font-family: Arial;
    margin: 10px auto;
    text-align: center;
}
img{
    border-radius: 10px;
}
video{
    width: 300px;
    height: 225px;
}
